/* line 1, app/assets/stylesheets/blogs.scss */
.banner {
  display: flex;
  background-color: #011712;
  padding: 130px 50px 50px 50px;
  align-items: center;
  justify-content: space-evenly;
}

/* line 9, app/assets/stylesheets/blogs.scss */
.blog-title {
  font-family: "Abril Fatface", serif;
  color: #40FFB5;
  font-size: 80px;
}

/* line 15, app/assets/stylesheets/blogs.scss */
.blog-photo-div {
  width: 40%;
}

/* line 19, app/assets/stylesheets/blogs.scss */
.blog-photo {
  border-radius: 50px !important;
}

/* line 27, app/assets/stylesheets/blogs.scss */
.blog-section {
  margin-bottom: 50px;
}

/* line 31, app/assets/stylesheets/blogs.scss */
.filters {
  padding-bottom: 100px;
}

/* line 35, app/assets/stylesheets/blogs.scss */
.blogs-row {
  padding-bottom: 60px;
}

/* line 39, app/assets/stylesheets/blogs.scss */
.blog-intro {
  background-color: #F4CEE2;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 150px;
}

/* line 47, app/assets/stylesheets/blogs.scss */
.font-abril {
  font-family: "Abril Fatface", serif;
}

/* line 51, app/assets/stylesheets/blogs.scss */
.font-michroma {
  font-family: "Michroma", sans-serif;
}

/* line 55, app/assets/stylesheets/blogs.scss */
.title-blog-section {
  font-size: 50px;
}

/* line 59, app/assets/stylesheets/blogs.scss */
.blog-intro-text {
  font-size: 25px;
}

/* line 63, app/assets/stylesheets/blogs.scss */
.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #EFEDE7 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

/* line 72, app/assets/stylesheets/blogs.scss */
.post-link {
  text-decoration: none;
}

/* line 76, app/assets/stylesheets/blogs.scss */
#section4 {
  background-color: #032B22;
}

/* line 80, app/assets/stylesheets/blogs.scss */
.filter-button {
  background-color: #EFEDE7;
  border-radius: 40px;
  padding: 10px 50px;
  transition: background-color 0.3s, color 0.3s;
  border: solid;
  color: #032B22;
  text-decoration: none;
  font-size: 18px;
}

/* line 91, app/assets/stylesheets/blogs.scss */
.active-filter {
  background-color: #032B22 !important;
  color: #EFEDE7 !important;
}

/* line 96, app/assets/stylesheets/blogs.scss */
.filter-button:hover {
  background-color: #D0D0D0;
}

/* line 100, app/assets/stylesheets/blogs.scss */
.sign-off {
  color: #F4CEE2;
  font-family: 'Michroma';
  font-size: 20px;
  letter-spacing: 2px;
}

/* line 107, app/assets/stylesheets/blogs.scss */
.blog-title-signoff {
  width: 50%;
}

/* line 111, app/assets/stylesheets/blogs.scss */
.breadcrumb-container {
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: -moz-fit-content;
  width: fit-content;
}

/* line 119, app/assets/stylesheets/blogs.scss */
.breadcrumb {
  display: flex;
  gap: 5px;
  list-style: none;
  padding: 0;
  margin: 0 !important;
}

/* line 127, app/assets/stylesheets/blogs.scss */
.breadcrumb-item {
  font-size: 15px;
}

/* line 131, app/assets/stylesheets/blogs.scss */
.breadcrumb-item a {
  text-decoration: none;
  color: #F4CEE2 !important;
  transition: color 0.3s;
  font-family: 'Michroma';
}

/* line 138, app/assets/stylesheets/blogs.scss */
.breadcrumb-item.active {
  color: #6c757d;
  pointer-events: none;
}

/* line 143, app/assets/stylesheets/blogs.scss */
.breadcrumb-item + .breadcrumb-item::before {
  color: #F4CEE2 !important;
}
