/* line 1, app/assets/stylesheets/blogs.scss */
.banner {
  display: flex;
  background-color: #011712;
  padding: 130px 50px 50px 50px;
  align-items: center;
  justify-content: space-evenly;
}

/* line 9, app/assets/stylesheets/blogs.scss */
.blog-title {
  font-family: "Abril Fatface", serif !important;
  color: #40FFB5;
  font-size: 50px;
}

/* line 15, app/assets/stylesheets/blogs.scss */
.blog-photo-div {
  width: 40%;
}

/* line 19, app/assets/stylesheets/blogs.scss */
.blog-photo {
  border-radius: 50px !important;
}

/* line 23, app/assets/stylesheets/blogs.scss */
.post-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 2rem;
}

/* line 32, app/assets/stylesheets/blogs.scss */
.blog-section {
  margin-bottom: 50px;
}

/* line 36, app/assets/stylesheets/blogs.scss */
.filters {
  padding-bottom: 100px;
}

/* line 40, app/assets/stylesheets/blogs.scss */
.blogs-row {
  padding-bottom: 60px;
}

/* line 44, app/assets/stylesheets/blogs.scss */
.blog-intro {
  background-color: #F4CEE2;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 150px;
}

/* line 52, app/assets/stylesheets/blogs.scss */
.font-Abril {
  font-family: "Abril Fatface", serif !important;
}

/* line 56, app/assets/stylesheets/blogs.scss */
.font-michroma {
  font-family: "Lato", serif, sans-serif !important;
  font-weight: 300;
}

/* line 61, app/assets/stylesheets/blogs.scss */
.title-blog-section {
  font-size: 40px;
}

/* line 65, app/assets/stylesheets/blogs.scss */
.blog-intro-text {
  font-size: 20px;
}

/* line 69, app/assets/stylesheets/blogs.scss */
.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #EFEDE7 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

/* line 78, app/assets/stylesheets/blogs.scss */
.post-link {
  text-decoration: none;
}

/* line 83, app/assets/stylesheets/blogs.scss */
.filter-button {
  background-color: #EFEDE7;
  border-radius: 40px;
  padding: 10px 50px;
  transition: background-color 0.3s, color 0.3s;
  border: solid;
  color: #032B22;
  text-decoration: none;
  font-size: 15px;
}

/* line 94, app/assets/stylesheets/blogs.scss */
.active-filter {
  background-color: #032B22 !important;
  color: #EFEDE7 !important;
}

/* line 99, app/assets/stylesheets/blogs.scss */
.filter-button:hover {
  background-color: #D0D0D0;
}

/* line 103, app/assets/stylesheets/blogs.scss */
.sign-off {
  color: #F4CEE2;
  font-family: "Lato", serif, sans-serif !important;
  font-weight: 300;
  font-size: 15px;
}

/* line 110, app/assets/stylesheets/blogs.scss */
.blog-title-signoff {
  width: 50%;
}

/* line 114, app/assets/stylesheets/blogs.scss */
.breadcrumb-container {
  padding: 20px 0px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: -moz-fit-content;
  width: fit-content;
}

/* line 122, app/assets/stylesheets/blogs.scss */
.breadcrumb {
  display: flex;
  gap: 5px;
  list-style: none;
  padding: 0;
  margin: 0 !important;
}

/* line 130, app/assets/stylesheets/blogs.scss */
.breadcrumb-item {
  font-size: 15px;
}

/* line 134, app/assets/stylesheets/blogs.scss */
.breadcrumb-item a {
  text-decoration: none;
  color: #F4CEE2 !important;
  transition: color 0.3s;
  font-family: "Lato", serif, sans-serif !important;
  font-weight: 300;
}

/* line 142, app/assets/stylesheets/blogs.scss */
.breadcrumb-item.active {
  color: #6c757d;
  pointer-events: none;
}

/* line 147, app/assets/stylesheets/blogs.scss */
.breadcrumb-item + .breadcrumb-item::before {
  color: #F4CEE2 !important;
}

/* line 151, app/assets/stylesheets/blogs.scss */
.content-image {
  width: 100%;
  height: auto !important;
  display: block;
  border-radius: 40px;
}

/* line 158, app/assets/stylesheets/blogs.scss */
.post-heading {
  font-size: 40px;
  font-family: "Abril Fatface", serif !important;
  font-weight: 300;
}

/* line 164, app/assets/stylesheets/blogs.scss */
.blog-section-content {
  display: flex;
  justify-content: space-evenly;
}

/* line 169, app/assets/stylesheets/blogs.scss */
html {
  scroll-behavior: smooth;
  overflow: hidden;
}
