/* line 1, app/assets/stylesheets/navbar.scss */
.navbar {
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  padding: 25px;
  width: 100%;
  padding-bottom: 0;
  position: fixed !important;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 40px;
}

/* line 15, app/assets/stylesheets/navbar.scss */
.book-here-button {
  color: black;
  padding: 20px;
  background: #40FFB5;
  border-radius: 10px;
}

/* line 22, app/assets/stylesheets/navbar.scss */
.container-fluid {
  margin: 1em !important;
}

/* line 26, app/assets/stylesheets/navbar.scss */
.navbar-text {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  font-family: "Abril Fatface", serif !important;
  width: -moz-max-content;
  width: max-content;
}

/* line 33, app/assets/stylesheets/navbar.scss */
.navbar-text a {
  font-size: 16px;
}

/* line 37, app/assets/stylesheets/navbar.scss */
.navbar-text-color {
  color: #EFEDE7 !important;
}

/* line 41, app/assets/stylesheets/navbar.scss */
.btn {
  --bs-btn-padding-x: 0rem!important;
  --bs-btn-padding-y: 0rem!important;
}

/* line 46, app/assets/stylesheets/navbar.scss */
.btn-secondary {
  margin-right: 1rem;
  --bs-btn-bg: #6c757d00!important;
  --bs-btn-border-color: #6c757d00!important;
  --bs-btn-hover-bg: none!important;
  --bs-btn-hover-border-color: none!important;
}

/* line 54, app/assets/stylesheets/navbar.scss */
.dropdown {
  position: relative;
}

/* line 58, app/assets/stylesheets/navbar.scss */
.navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
  display: flex !important;
  flex-wrap: inherit !important;
  /* align-items: center; */
  /* justify-content: space-between; */
  justify-content: flex-end !important;
}

/* line 76, app/assets/stylesheets/navbar.scss */
.navbar-fixed-color.scrolled {
  color: black;
  transition: background-color 100ms linear;
}

/* line 81, app/assets/stylesheets/navbar.scss */
.navbar-fixed-icon.scrolled {
  color: black;
  transition: background-color 100ms linear;
}

/* line 86, app/assets/stylesheets/navbar.scss */
.dropdown-toggle.scrolled {
  color: black;
}

/* line 90, app/assets/stylesheets/navbar.scss */
.openbtn.scrolled {
  color: black;
}

/* line 94, app/assets/stylesheets/navbar.scss */
.badge.scrolled {
  color: black;
}

/* line 98, app/assets/stylesheets/navbar.scss */
.navbar-icon {
  color: #EFEDE7;
}

/* line 102, app/assets/stylesheets/navbar.scss */
.navbar-collapse {
  max-width: 50px;
}

/* line 106, app/assets/stylesheets/navbar.scss */
.nav-container {
  gap: 90px;
  position: relative;
  z-index: 200;
}

/* line 112, app/assets/stylesheets/navbar.scss */
.navbar-options-text {
  font-size: 16px;
  transition: 2s;
}

/* line 117, app/assets/stylesheets/navbar.scss */
.navbar-options-text:hover {
  text-decoration: underline;
}

/* line 121, app/assets/stylesheets/navbar.scss */
.navbar-brand {
  width: 30%;
}

/* line 125, app/assets/stylesheets/navbar.scss */
.position-profile-basket {
  position: relative;
  bottom: 1.9rem;
}

/* line 130, app/assets/stylesheets/navbar.scss */
.nav-options {
  display: none;
}

/* line 134, app/assets/stylesheets/navbar.scss */
.gap {
  gap: 3rem;
}

/* line 138, app/assets/stylesheets/navbar.scss */
.options {
  display: flex;
  justify-content: space-between;
}

/* line 144, app/assets/stylesheets/navbar.scss */
.navbar-toggler {
  border: none !important;
}

/* line 148, app/assets/stylesheets/navbar.scss */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #011712;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* line 162, app/assets/stylesheets/navbar.scss */
.sidebar a {
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #EFEDE7;
  display: block;
  transition: 0.3s;
}

/* line 171, app/assets/stylesheets/navbar.scss */
.sidebar a:hover {
  color: #EFEDE7;
  text-decoration: none;
}

/* line 176, app/assets/stylesheets/navbar.scss */
.sidebar .closebtn {
  color: #EFEDE7;
  font-size: 30px;
  padding: 0;
  right: 20px;
}

/* line 183, app/assets/stylesheets/navbar.scss */
.closebtn {
  position: absolute !important;
  top: 0 !important;
}

/* line 188, app/assets/stylesheets/navbar.scss */
.options-text {
  width: -moz-max-content;
  width: max-content;
}

/* line 192, app/assets/stylesheets/navbar.scss */
.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: transparent;
  color: #EFEDE7;
  border: none;
  padding: 0 !important;
}

/* line 201, app/assets/stylesheets/navbar.scss */
.openbtn:hover {
  background-color: #444;
}

/* line 205, app/assets/stylesheets/navbar.scss */
#main {
  transition: margin-left .5s;
}

/* line 209, app/assets/stylesheets/navbar.scss */
.logo {
  width: 20%;
}

@media only screen and (max-width: 1000px) {
  /* line 214, app/assets/stylesheets/navbar.scss */
  .logo-div {
    width: 40%;
  }
  /* line 218, app/assets/stylesheets/navbar.scss */
  .logo {
    width: 100%;
  }
  /* line 222, app/assets/stylesheets/navbar.scss */
  .sidebar a {
    font-size: 20px;
  }
  /* line 226, app/assets/stylesheets/navbar.scss */
  .position-profile-basket {
    bottom: 0rem;
  }
  /* line 230, app/assets/stylesheets/navbar.scss */
  .nav-container {
    gap: 0px;
  }
  /* line 234, app/assets/stylesheets/navbar.scss */
  .gap {
    gap: 0rem;
  }
  /* line 238, app/assets/stylesheets/navbar.scss */
  .navbar-options-text {
    font-size: 15px;
    transition: 2s;
  }
  /* line 243, app/assets/stylesheets/navbar.scss */
  .navbar {
    /* position: sticky; */
    padding: 35px 25px 35px 0px;
  }
  /* line 248, app/assets/stylesheets/navbar.scss */
  .options {
    display: none !important;
  }
  /* line 252, app/assets/stylesheets/navbar.scss */
  .navbar > .container-fluid {
    display: grid !important;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  /* line 258, app/assets/stylesheets/navbar.scss */
  .nav-icons {
    display: flex;
    justify-content: flex-start;
  }
  /* line 263, app/assets/stylesheets/navbar.scss */
  .pye-logo {
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    z-index: -1;
  }
  /* line 271, app/assets/stylesheets/navbar.scss */
  .navbar-brand {
    width: 45%;
  }
  /* line 275, app/assets/stylesheets/navbar.scss */
  .basket-profile {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-height: 450px) {
  /* line 282, app/assets/stylesheets/navbar.scss */
  .sidebar {
    padding-top: 40px;
  }
  /* line 286, app/assets/stylesheets/navbar.scss */
  .sidebar a {
    font-size: 20px;
  }
}
