<div class="footer green-background" style="background-color: #032B22;">
  <div class="footer-spacing flex-wrap footer-gap w-100">
    <div class="flex-basis-100 flex-md-basis-33">
      <h3 class="footer-titles mb-0">GET IN TOUCH</h3>
      <p class="footer-text">Email: jasminbainsjournalism@gmail.com</p>
      <br>
      <div class="footer-text mt-1">
        <p></p>
      </div>
    </div>
    <div class="flex-basis-100 flex-md-basis-33">
      <h2 class="footer-titles mb-0">SOCIALS</h2>
      <p class="footer-text">@jasminxbains</p>
      <p class="footer-text">@jasminxbains</p>
      <br>
      <div class="footer-text">
        <p></p>
      </div>
    </div>
    <div class="social-icons flex-basis-100 flex-md-basis-33 d-flex gap-5 justify-content-center">
      <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
        <i class="fa-brands fa-square-instagram"></i>
      </a>
    </div>
  </div>
  <div class="">
    <p class="footer-title">Jasmin's Journal</p>
  </div>
</div>
