<div class="contact-container">
  <%= render 'shared/navbar' %>
  <section id="section2" class="color-bg" style="background-color: #011712;">
    <div class="banner">
      <div>
        <h1 class="blog-title">Your message has been sent.</h1>
      </div>
      <div class="blog-photo-div">
        <%= image_tag "blogs_about_dogs.png", alt:"Picture of a Chihuaha sticking it's tongue out", class: "w-100 blog-photo" %>
      </div>
    </div>
  </section>
  <div class="form-container gap-3" style="background-color: #F4CEE2">
    <div class="">
      <div class="d-flex flex-column gap-3 pb-30">
        <div>
          <h1 class="mb-3 header services-name contact-details" style="font-size: 4rem;">Thank you for your message.</h1>
          <p class="" style="font-size: 30px;">We’ll get back to you as soon as possible. In the meantime, feel free to explore our website or reach out on social media!</p>
        </div>
        <div>
          <div class="social-icons flex-basis-100 flex-md-basis-33 d-flex gap-3">
          <a href="https://www.facebook.com/share/15X7shdumS/?mibextid=wwXlfr" target="_blank" aria-label="Facebook">
            <i class="fa-brands fa-facebook" style="color: #032B22;"></i>
          </a>
          <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
            <i class="fa-brands fa-square-instagram" style="color: #032B22;"></i>
          </a>
        </div>
      </div>
      <div class="pb-30">
        <h1 class="mb-3 header services-name contact-details">Contact me:</h1>
        <p>Feel free to text, WhatsApp, or call Jayden at <a href="tel:+447794873250">+44 7794 873250</a></a>.</p>
      </div>
      <div class="pb-30">
        <h1 class="mb-3 header services-name contact-details">Areas Covered:</h1>
        <ul>
          <li>Wanstead</li>
          <li>Snaresbrook</li>
          <li>Aldersbrook</li>
          <li>South Woodford</li>
          <li>Whipps Cross</li>
          <li>Leytonstone</li>
          <li>Leyton</li>
          <li>Woodford</li>
          <li>Woodford Green</li>
        </ul>
        <p>If your area isn't listed above, don't hesitate to get in touch with your postcode, and we'll be happy to check if you're within our catchment zone.</p>
      </div>
      <div class="pb-30">
        <h1 class="mb-3 header services-name contact-details">Email:</h1>
        <p><a href="mailto:wansteadwags@gmail.com?subject=Inquiry&body=Hello Jayden,">wansteadwags@gmail.com</a></p>
      </div>
    </div>
  </div>
</div>
