#map {
  border-radius: 20px;
}

.areas-covered {
  margin: 3rem;
}

.areas-covered-title {
  text-align: left;
}

.mapbox {
  gap: 8rem;
}

.custom-marker {
  width: 40px;  /* Ensure it's big enough */
  height: 50px;
  background-size: cover;
  background-position: center;
  cursor: pointer;  /* Show hand cursor on hover */
  pointer-events: auto;
}

.mapboxgl-ctrl-logo {
  display: none;
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}

a.mapboxgl-ctrl-logo {
  display: none;
}
.mapboxgl-marker{
  top: -18px;
}

.explore-map {
  width: 100%;
  flex: 1;
  height: auto;
  min-height: 100%;
}

.explore-list {
  font-size: 20px;
  padding: 20px 50px;
  border-style: double;
  border-width: 10px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  list-style-type: none;
}

.explore-list li {
  background-image: url('/assets/marker.png');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  line-height: 1.8;
  margin-top: 10px;
  margin-bottom: 10px;
  background-size: 20px 25px;
}

.tickets {
  width: 400px;
  margin-left: 35px;
}

.popup-container {
  text-align: center;
  font-family: "Cormorant Garamond";
  background: #FFAFDA;
  max-width: 200px;
  padding: 10px;
}

.popup-image {
  width: 100%;
  height: auto;
  border-radius: 0;
  object-fit: cover;
  display: block;
}


@media screen and (max-width: 767px) and (orientation: portrait) {
  #map {
    width: 100%;
  }

  .areas-list {
    width: 100%;
  }

  .map-div {
    width: 100%;
  }

  .areas-covered-title {
    margin: 0!important;
  }

  .areas-covered {
    margin: 0!important;
    padding: 20px;
    flex-direction: column!important;
  }

  .mapbox {
    gap: 0rem;
    width: 90%;
    justify-content: space-between;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5)  and (orientation: portrait) {
  #map {
    width: 100%;
  }
}
